# Chave da Anthropic (Necessária para usar o Claude)
ANTHROPIC_API_KEY=teu_token_sk_ant_aqui

# Configurações do LangSmith (Opcional, mas recomendado para monitorizar o grafo)
LANGCHAIN_TRACING_V2=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGCHAIN_API_KEY=teu_token_lsv2_aqui
LANGCHAIN_PROJECT="My first LangGraph project"
