# Ambientes Virtuais
venv/
.venv/
env/

# Chaves e Segredos (CRÍTICO)
.env

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# IDEs (VS Code, PyCharm)
.vscode/
.idea/

# Sistema Operativo
.DS_Store
Thumbs.db